<!DOCTYPE html>
<html>
<head></head>
<body>
<form action="/" method="post">
  <input type="text" name="description" placeholder="Insert a task">
  <input type-="submit" value="Submit">
</form>

<%= tasks %>
</body>

</html>