<!DOCTYPE html>
<html>
<head></head>
<body>
<form action="/" method="post">
  <input type="text" name="description" placeholder="Insert a task">
  <input type="submit" value="Submit">
</form>

<ul>
  <% tasks.each do |task| %>
    <li><%= task[:description] %></li>
    <% end %>
</ul>

</body>

</html>